.welcome-container {
  width: 100%;
  height: 22.2em;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 25px;
  border-radius: 3px;
  box-shadow: 0px 0px 11px 1px rgba(15, 15, 15, 0.2);
  font-size: 18px;
  background: linear-gradient(
      to right,
      rgba(90, 151, 206, 0.82),
      rgba(12, 12, 12, 0.68)
    ),
    url(/static/media/welcome-background.035c6bee.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
}

.our-story {
  font-size: 11px;
  font-weight: 100;
  font-family: monospace;
  inline-size: 66%;
  line-height: 1.5;
  margin: auto;
}
